@page "/"

<PageTitle>Match Game</PageTitle>

<style>
    .container {
        width: 400px;
    }

    button {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
</style>

<div class="container">
    <div class="row">
        @for (int animalNumber = 0; animalNumber < shuffledAnimals.Count; animalNumber++)
        {
            var animal = shuffledAnimals[animalNumber];
            var uniqueDescription = $"Button #{animalNumber}";
            <div class="col-3">
                <button @onclick="@(() => ClickButton(animal, uniqueDescription))" type="button" class="btn btn-outline-dark">
                    <h1>@animal</h1>
                </button>
            </div>
        }
    </div>
</div>

@code
{
    List<string> animalEmoji = new List<string>()
    {
        "🐶", "🐶",
        "🐺", "🐺",
        "🐮", "🐮",
        "🦊", "🦊",
        "🐱", "🐱",
        "🦁", "🦁",
        "🐯", "🐯",
        "🐹", "🐹"
    };

    List<string> shuffledAnimals = new();

    protected override void OnInitialized()
    {
        SetUpGame();
    }

    private void SetUpGame()
    {
        Random random = new();
        shuffledAnimals = animalEmoji
            .OrderBy(item => random.Next())
            .ToList();
    }

    string lastAnimalFound = string.Empty;
    string lastDescription = string.Empty;

    private void ClickButton(string animal, string animalDescription)
    {
        if (lastAnimalFound == string.Empty)
        {
            // First selection
            lastAnimalFound = animal;
            lastDescription = animalDescription;
        }
        else if (lastAnimalFound == animal && animalDescription != lastDescription)
        {
            // Found new match!
            lastAnimalFound = string.Empty;

            // Replace matched animals with empty string to hid them
            shuffledAnimals = shuffledAnimals
                .Select(a => a.Replace(animal, string.Empty))
                .ToList();
        }
        else
        {
            // reset selection if user didn't click
            // on a match
            lastAnimalFound = string.Empty;
        }
    }
}